@import url("./lock_colors.css");

* {
  all: unset;
  color: @primary;
  font-family: JetBrains Mono Nerd Font ExtraBold;
  transition: all 0.2s ease;
}


#lockscreen-entry-box.top.active {
  margin-top: 0;
}

#lockscreen-entry-box.bottom.active {
  margin-bottom: 0;
}

#lockscreen-entry-box.center.active {
  opacity: 1;
}

#lockscreen-entry-box.active {}

#lockscreen-entry-box.bottom {
  margin-bottom: -7rem;
}

#lockscreen-entry-box.top {
  margin-top: -7rem;
}

#lockscreen-entry-box-inner.bottom {
  border-radius: 4rem 4rem 0 0;
}

#lockscreen-entry-box-inner.top {
  border-radius: 0 0 4rem 4rem;
}

#lockscreen-entry-box.center {
  opacity: 0;
}

#lockscreen-entry {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: @surface_container;
  border-radius: 4rem;
  min-width: 25rem;
  margin: 1rem;
}

#lockscreen-entry-box-inner {
  background-color: @background;
  border-radius: 4rem;
}

#lockscreen-entry-box {
  transition: all 0.3s ease;
  border-radius: 4rem;
}

.corner {
  background-color: @background;
}
